body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color:#f4f4f4
}

header {
    background-color: #e6752a;
    padding: 1em 0;
    border-radius: 50px;
}

.navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin:0;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 30px;
    margin: 15px;
}

.navbar a:hover {
    color: #080807;
}

main {
    padding: 20px;
    text-align: center;
}

section {
    padding: 50px 0;
}

.gallery {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.image-container {
    overflow: hidden;
    width: 300px;
    height: 300px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.image-container:hover {
    transform: scale(1.20);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about, #contact {
    background-color: #f4f4f4;
}

#home{
    font-size: 40px;
    padding-top:1px;
    color: #e6752a;
}

#home1{
    font-size: 30px;
    color: #080807;
    margin-top: 1px;
    margin-bottom: 10px;
    text-align:center;
}

#collection{
    font-size: 40px;
    padding-top:1px;
    color: #e6752a;
}

#about{
    font-size: 40px;
    padding-top:1px;
    color: #e6752a; 
}

#about1{
    font-size: 30px;
    color: #080807;
    margin-top: 1px;
    margin-bottom: 10px;
}

#contact{
    font-size: 40px;
    padding-top:1px;
    color: #e6752a;
}

#contact1{
    font-size: 30px;
    color: #080807;
    margin-top: 1px;
    margin-bottom: 10px;
}

#img1{
    border-radius: 50px;
}
